@font-face {
  font-family: "NanumPenScript";
  src: url("/NanumPenScript-Regular.ttf"); /* public 경로 : / */
}

html,
body {
  margin: 0px;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
}

/* 리액트 앱에서는 body 태그 안에 div의 id가 root인 요소 아래에 root 컴포넌트가 렌더링 되기 때문에, root라는 id를 갖는 요소의 스타일을 설정하면 메인 컴포넌트 스타일 설정 가능 */
#root {
  background-color: white;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh; /* vh : View-Port Height : 현재 브라우저 스크린의 크기로, 100vh로 설정하면 스크린 최대 높이만큼 늘어남*/
  height: 100%;
  box-shadow: rgb(100, 100, 100, 0.2) 0px 0px 29px 0px;
  padding: 0px 20px;
}

body * {
  font-family: "NanumPenScript";
}
