body {
  padding: 20px;
}

.App {
  margin: 0 auto; /* 설정한 너비 외 양족으로 남는 부분은 좌우로 margin을 auto로 설정하여 가운데 정렬*/
  width: 400px; /* 너비를 400px로 설정 */
}

.App > section {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}
