.Editor {
  display: flex;
  gap: 10px;
}

.Editor > input {
  flex: 1; /* 해당 태그가 부모 요소의 크기를 벗어나지 않는 선에서 최대 길이만큼 늘어남 */
  padding: 15px;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 5px;
}

.Editor > button {
  cursor: pointer; /* 해당 버튼에 마우스를 가져가면 포인터 모양으로 변경 */
  width: 80px;
  border: none;
  background-color: rgb(37, 147, 255);
  color: white;
  border-radius: 5px;
}
